.main{
	display: grid;
	width: 80%;
	grid-template-areas: "h" "con" "com";
	margin: 0 auto;
	grid-gap: 10px;
}

.header{
	grid-area: h;
	background-color: #A5D2EF;
	text-align: center;
	border-radius: 5px;
	font-family: 'Bellota', cursive;
}

.content{
	grid-area: con;
	background-color: #D3DCE3;
	border-radius: 5px;
	padding: 20px;
}

.comments{
	grid-area: com;
	background-color: #A0F1C4;
	border-radius: 5px;
	padding: 20px;
}

.form{
	width: 50%;
}

.red{
	display: none;
}