.main{
	display: grid;
	margin: 0 auto;
	width: 80%;
	grid-gap: 5px;
	grid-template-areas: "h h h " "s c r";
	grid-template-columns: 300px 900px;
	
}

.header{
	text-align: center;
	background-color: #BCC2C9;
	grid-area: h;
}

.sidebar{
	grid-area: s;
	background-color:#BCC2C9;
	height: 800px;
}

.content{
	grid-area: c;
	background-color: #BCC2C9;
	text-align: center;
	
}

.right{
	grid-area: r;
	text-align: center;
	background-color: #BCC2C9;
}