.main{
	display: grid;
	margin: 0 auto;
	width: 80%;
	grid-gap: 5px;
	grid-template-areas: "h h h h" "s s s s" "c c c r ";
	

	
}

.header{
	text-align: center;
	background-color: #BCC2C9;
	grid-area: h;
	border-radius: 5px;
	font-family: 'Trade Winds' ;
}

.sidebar{
	grid-area: s;
	background-color:#D5D8DB;
	text-align: center;
	border-radius: 5px;
	padding: 10px;


	
}

.sidebar .drop{
	display: inline-grid;
	
}




	



.content{
	grid-area: c;
	background-color: #D5D8DB;
	border-radius: 5px;
	padding: 20px;
	opacity: 90%;

	

	
}

.right{
	grid-area: r;
	text-align: center;
	background-color: #D5D8DB;
	border-radius: 5px;
	padding: 20px;
	opacity: 90%;

}

.post{
	height: 50px;
	overflow: hidden;
}